/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */

#root,
#__next {
  isolation: isolate;
}

//////////////////
////

:root {
  --dark-blue-text-color: hsl(238, 29%, 16%);
  --soft-red-text-color: hsl(14, 88%, 65%);
  --violet-bacground-color: hsl(273, 75%, 66%);
  --blue-background-color: hsl(240, 73%, 65%);
  --dark-grayish-blue-text-color: hsl(237, 12%, 33%);
  --light-graysish-blue-text-color: hsl(240, 6%, 50%);
  --deviders-color: hsl(240, 4%, 91%);
  --card-background-color: hsl(0, 0%, 100%);

  --space-x: 3rem;
  --step-0: clamp(0.75rem, calc(1.07rem + -0.36vw), 1.00rem);
}

@font-face {
  font-family: customFontReg;
  src: url('../font/KumbhSans-Regular.ttf');
}

@font-face {
  font-family: customFontBold;
  src: url('../font/KumbhSans-Bold.ttf');
}

body {
  min-height: 100vh;
  background-image: linear-gradient(var(--violet-bacground-color), var(--blue-background-color));
  display: grid;
  place-items: center;
  font-size: var(--step-0);
}

.accordion__title {
  font-family: customFontBold, sans-serif;
  color: var(--dark-blue-text-color);
  font-size: 30px;
  margin-bottom: 1rem;
}

.accordion__heading__container .accordion__content[aria-hidden="false"] {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(hsl(240, 6%, 50%), 0.3);
}

.accordion__heading span {
  font-family: customFontReg, sans-serif;
  font-weight: 200;
  color: var(--dark-blue-text-color);
}

.accordion__heading .accordion__btn[aria-expanded='true'] span {
  font-family: customFontBold, sans-serif;
}

.accordion__content p {
  font-family: customFontReg, sans-serif;
  color: var(--light-graysish-blue-text-color);
}