.accordion__btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(hsl(240, 6%, 50%), 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__heading__container:hover .accordion__btn span {
    color: var(--color-text-primary-red); 
}

// .accordion__btn:focus {
//     outline: none;
//     background-color: var(--color-gradient-sb);

//     & span {
//         color: var(--color-dividers-lgb);
//     }
// }

.accordion__content p {
    padding: 1em 0;
}

