@use './base' as queries;

.accordion__btn {
    padding: 1rem 0;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--deviders-color);
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;

    svg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;

        @include queries.respond(screen-laptop) {
             right: 30px;
        }

        @include queries.respond(screen-lg-up) {
            right: 10px;
        }
    
    }

    // to rotate arrow
    &[aria-expanded="true"] {
        border-bottom: none;
        svg {
            transform: rotate(180deg);
        }
    }
}

.accordion__btn:hover span {
    color: var(--soft-red-text-color);
}

.accordion__btn:focus-visible {
    outline: 0.2em dashed var(--blue-background-color);
    outline-offset: 0.01rem;
}
