@use './base' as font;
@use './base' as queries;

.wrapper {
    background-color: var(--card-background-color);
    width: 100%;
    max-width: 59.375rem;
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    gap: var(--space-x);
    position: relative;

    @include queries.respond(screen-m) {
        width: 90%;
    }

    @include queries.respond(screen-s) {
        flex-direction: column;
        gap: 10rem;
    }

}

.image__container {
    background-image: url('../svg/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: left 110% top 65%;

    position: relative;
    width: 50%;
    overflow: hidden;

    @include queries.respond(screen-s) {
        width: 90%;
        overflow: visible;
        background-position: center;
        background-image: url('../svg/bg-pattern-mobile.svg');
    }
}

.primary__image {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 0;
    left: -70px;

    @include queries.respond(screen-s) {
        top: -300px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.box__image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -95px;
}


.accordion {
    width: 50%;
    padding: 4rem 6rem 4rem 0;

    @include queries.respond(screen-m) {
        padding-right: 4rem;
    }
    
    @include queries.respond(screen-s) {
        width: 100%;
        padding: 2rem;
    }
}

