@use './base' as font;

.wrapper {
    background-color: var(--card-background-color);
    width: 100%;
    max-width: 59.375rem;
    border-radius: 25px;

    // display: flex;
    // justify-content: space-between;
    // gap: var(--space-x);
    // position: relative;
}

// .image__container {
//     position: relative;
//     width: 50%;
//     overflow: hidden;
//     // border: 1px solid blue;
// }


.accordion {
    width: 50%;
    padding: 4rem 6rem 4rem 0
}

