@use './base' as font;

.wrapper {
    width: 100%;
    max-width: 80rem;
    background-color: var(--color-dividers-lgb);
    position: relative;
    overflow: hidden;
}

.image__container {
    overflow: hidden;
    width: 50%;
    height: 100%;
    position: absolute;
    // top: -500px;
    // left: -500px;
}

.secondary__image,
.tertiary__image {
    position: absolute;
    top: 0;
}

.primary__image {
    width: 100%;
}

.accordion {
    width: 100%;
    margin-left: auto;
    width: 50%;
    padding: 5rem 10rem 5rem 0;
}

